body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.carousel-container {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 10px solid rgba(75, 69, 69, 0.197);
    border-radius: 5px;
    align-items: center;

}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 100%;
}

img {
    max-width: 100%;
    height: fit-content;
}

button {
    cursor: pointer;
}

#prevBtn, #nextBtn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}
